* {
  margin: 0;
  border: 0;
  padding: 0;
}

/*  keeping the footer at the bottom of the page */
/*  #page-container, #content-wrap, #footer copied from */
/*  https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/  */

#page-container {
  position: relative;
  min-height: 100vh;
  background-color: #000000;
}
#content-wrap {
  padding-bottom: 2.5rem;
}

#footer {
  font-family: "Oxanium", cursive, Arial, Helvetica, sans-serif;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
  color: white;
}

main {
  width: 100%;
  background-color: #da1f28;
  border-bottom: 3px solid black;
}

header {
  width: 100%;
  height: 60px;
  background-color: #000000;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}

header div {
  margin: 0;
}

/* MARVEL HOME box */
#marvel-img {
  display: flex;
  align-self: center;
  padding-left: 20px;
}

/* superhero cover image frame */
#hero-cover {
  width: 100%;
  height: 400px;
  background-image: url(img/Marvel-Superheroes.jpg);
  background-size: cover;
}

#h1-title {
  border-top: 3px solid black;
  text-align: center;
  font-family: "Bangers", cursive, Arial, Helvetica, sans-serif;
  font-size: 46px;
  padding: 20px 0 8px 0;
}
#form-frame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* user input */
#hero-input {
  width: 35%;
  font-family: "Oxanium", cursive, Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 5px;
  border-radius: 3px;
  outline: none;
  min-width: 30px;
}

/* button */
button img {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

#captain-frame {
  position: relative;
  width: 50%;
}

#middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#submit {
  border-radius: 50%;
  margin-left: 10px;
  background-color: #da1f28;
  outline: none;
}

#captain-frame:hover #captain-img {
  opacity: 0.3;
}
#captain-frame:hover #middle {
  opacity: 1;
}
#text {
  /* color: rgb(37, 102, 151); */
  font-family: "Bangers", cursive, Arial, Helvetica, sans-serif;

  color: #000000;
  font-size: 22px;
  /* padding: 15px 25px; */
  font-weight: bolder;
}

/* RESULTS  */

.hero-container {
  padding-top: 15px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hero-desc {
  margin-top: 15px;
  width: 180px;
  height: 150px;
  text-align: center;
}
.hero-name {
  font-family: "Oxanium", cursive, Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding-top: 5px;
  color: white;
}

#return-msg {
  font-family: "Oxanium", cursive, Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 18px;
  padding-bottom: 10px;
}
#hero-outer-container {
  background-color: black;
}

/* ----------- iPad 1, 2, Mini and Air ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  #hero-cover {
    width: 100%;
    height: 300px;
  }

  #hero-input {
    width: 60%;
  }

  /* #h1-title {
    font-size: 42px;
  } */

  #hero-input {
    width: 35%;
    font-size: 13px;
  }

  #submit {
    padding: 3px 5px;
    font-size: 13px;
  }
  #return-msg {
    font-size: 15px;
  }
}

/* ----------- iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  #hero-cover {
    /* border: 5px solid green; */
    width: 100%;
    height: 200px;
  }

  #h1-title {
    font-size: 32px;
  }

  #hero-input {
    width: 40%;
    font-size: 13px;
  }

  #submit {
    padding: 3px 5px;
    font-size: 13px;
  }
  #return-msg {
    font-size: 13px;
  }
  #footer {
    font-size: 11px;
  }
}
